html {
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #444444;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "inter", sans-serif;
  font-weight: 500;
  color: #222222;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #1e40af;
}

a:hover,
a:focus {
  color: #1d4ed8;
}

h1 {
  text-align: center;
}

#logo {
  height: 30px;
  margin: 0;
}

#navbar {
  padding: 8px;
  margin: 0;
}

#banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

#about {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
}

#description {
  width: 50%;
  padding: 0 8px;
  font-size: 1.25rem;
}

.pgr {
  margin: 0;
}

#team {
  width: 50%;
}

#team-img {
  width: 100%;
  border-radius: 5px;
}

#link {
  text-decoration: none;
  font-size: 14px;
}

#jobs-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}
.jobs-header-row th {
  background-color: #dbeafe;
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.jobs-data-row td {
  border: 1px solid #dbeafe;
  padding: 8px;
  text-align: left;
}

#jobs-table tr:nth-child(odd) {
  background-color: #eff6ff;
}

#banner {
  width: 100%;
}

h2 {
  text-align: center;
}

#jobs {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}

h3 {
  margin-bottom: 2px;
  margin-top: 0;
}

#apply {
  float: right;
  text-decoration: none;
}

#application {
  max-width: 800px;
  margin: 0 auto;
  /* background: #dbeafe; */
  padding: 0 8px;
}
.form-group,
div {
  margin: 16px;
}

.form-group label {
  font-weight: 600;
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: 8px;
  font-size: 1.25rem;
  margin-top: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.form-group textarea {
  width: 80%;
  font-family: "Roboto", sans-serif;
}

.form-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

.form-group input[type="submit"] {
  background-color: #1e40af;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 1.25rem;
  border-radius: 5px;
}

.form-group input[type="submit"]:hover {
  background-color: #5781f6;
}

#footer {
  background-color: #fafafa;
  padding: 10px;
  margin-top: 32px;
  text-align: center;
}

#footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
}

.copy-right {
  display: block;
  margin-top: 10px;
  font-size: 0.875rem;
  color: gray;
}
